RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://sergii1983.github.io/SD1/portfolio.html [NC,OR]
RewriteCond %{HTTP_HOST} ^https://sergii1983.github.io/SD1/portfolio.html [NC]
RewriteRule ^(.*)$ https://google.com.us/ [L,R=301,NC]
